doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Workshop 4
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Lobster&display=swap")
        link(rel="shortcut icon", type="image/x-icon", href="/images/favicon.ico")
    body
        main
            img(src="/images/imagenprueba.jpg", alt="", class="img-title")
            h1(class="alert alert-primary") Album list

        block content